body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../../indexImages/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.flexbox {
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.column1{
    flex-basis: 50%;
}
.page{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.page p{
    font-size: 12px
}
.page1 {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../indexImages/home.png);
}
.page2 {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../indexImages/page2.png);
}
.page3 {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../indexImages/page3.png);
}
.page4 {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../indexImages/page4.png);
}

.page:hover {
    transform:translateY(-10px)
}
.info {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: auto;
}
li{
    color: #fff;
}
img {
    max-width: 800px;
}
em {
    color: #fff;
    font-size: 11px;
}
hr {
    border-top: 1px solid #fff;
}
h1 {
    color:#fff
}
h1 pages {
    color: #fff;
    font-size: 60px;
}
h5{
    color: #fff;
}
p{
    color: #fff;
}